@if (flashMessages.has('errors'))
  <div class="rounded-md bg-red-50 p-4">
    <h3 class="text-sm font-medium text-red-800">
      There were errors with your submission.
    </h3>
    <div class="mt-2 text-sm text-red-700">
      <ul class="list-disc pl-5 space-y-1">
        @each(message in flashMessages.get('errors'))
          <li>{{ message }}</li>
        @end
      </ul>
    </div>
  </div>
@endif
